{% extends 'layout.twig' %}

{% block body %}

  <div class="content-index">
    <div class="row col-xs-8 col-sm-8 col-md-8 col-lg-8" id="content">
      <div class="column"></div>
      <div class="column"></div>
    </div>
  </div>

{% endblock %}

{% block stylesheets %}
  <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css"></link>
{% endblock %}

{% block javascripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.js"></script>

  <script type="text/javascript">

    function getAndDisplayTasks() {
      fetch('/tasks/5d2742cc59ee5f2794cb24b5', {
          method: 'GET',
          headers: { 'Content-Type': 'application/json' },
          credentials: 'same-origin',
        })
        .then(res => res.json())
        .then(data => {
          // TODO générer les taches dans le dom
          // renderTasks(data.result);
        })
    }

    function refreshTasks() {
      console.log('YO');
       document.getElementById('content').innerHTML = '';
       getAndDisplayTasks();
    }

    function deleteBoard(e) {
      var boardId = e.target.id;
      fetch('/board/' + boardId , {
          method: 'DELETE',
          headers: { 'Content-Type': 'application/json' },
          credentials: 'same-origin',
        })
        .then(function(data) {
          refreshBoards();
        })
    }


    refreshTasks();

  </script>



{% endblock %}
